<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-center">

            <div class="col-2">
                <a class="btn btn-success" href="/gl-mp">
                    Go GL MAP
                </a>
            </div>
            <div class="col-2">
                <a class="btn btn-success" href="/plt-mp">
                    Go Plot MAP
                </a>
            </div>
        </div>
    </div>
    @defer (on immediate; prefetch on idle){
    <router-outlet />
    }
</div>