@font-face {
    font-family: 'Noto Sans Bengali';
    src: url('/assets/font/NotoSansBengali-VariableFont_wdthwght.ttf') format('truetype'),
        //  url('/path/to/NotoSansBengali-Regular.woff') format('woff'),
        //  url('/path/to/NotoSansBengali-Regular.ttf') format('truetype');
    /* Add other font weights and styles if needed */
}
@font-face {
    font-family: 'Roboto';
    src: url('/assets/font/Roboto-VariableFont_wdthwght.ttf') format('truetype'),
        //  url('/path/to/NotoSansBengali-Regular.woff') format('woff'),
        //  url('/path/to/NotoSansBengali-Regular.ttf') format('truetype');
    /* Add other font weights and styles if needed */
}